<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogFile="nlog.txt" internalLogLevel="info" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
      <target xsi:type="Chainsaw"
              name="chainsaw"
              newLine="false"
              layout="${threadid}-${threadname} ${longdate}|${level:uppercase=true}|${logger}|${message}"
              encoding="utf-8"
              address="udp://127.0.0.1:4445"/>
<target name="testLogFile" xsi:type="File" fileName="c:\data\logs\test.txt" layout="${message}"/>
<target name="logfile" xsi:type="File"  fileName="file.txt"  layout="${threadid}-${threadname} ${longdate}|${level:uppercase=true}|${logger}|${message}" />
<target name="xmllogfile" xsi:type="File"  fileName="file.xml"  layout="${log4jxmlevent}"/>
        <target error="true" name="logconsole" xsi:type="Console" layout="${threadid}-${threadname} ${longdate}|${level:uppercase=true}|${logger}|${message}"/>
        <target xsi:type="NLogViewer"
        name="viewer"
        address="udp://10.25.0.102:9999"
	includeSourceInfo="true"
	includeCallSite="true"/>
      <target xsi:type="NLogViewer"
        name="viewer3"
        address="udp://10.25.0.102:878"/>
        <target xsi:type="NLogViewer"
                name="viewer2"
                address="udp://10.25.0.102:9998"/>
  </targets>
    <rules>
        <logger name="*" minlevel="debug" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
        <logger name="*" minlevel="Debug" writeTo="xmllogfile" />
        <logger name="*"
                minlevel="Trace"
                writeTo="viewer" />
        <logger name="*"
                minlevel="Debug"
                writeTo="chainsaw" />
        <logger name="*"
                minlevel="Trace"
                writeTo="chainsaw_serenity" />
        <logger name="*"
                minlevel="Trace"
                writeTo="viewer3" />
        <logger name="*"
                minlevel="Info"
                writeTo="viewer2" />
        <logger name="*"
                minlevel="TRACE"
                writeTo="testLogFile" />
    </rules>
</nlog>
