<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogFile="nlog.txt" internalLogLevel="debug" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 <extensions>
   <add assemblyfile="nlogviewer.dll" />
   <add assemblyfile="parseLogs.exe" />
   <add assemblyfile="documentlogger.dll" />
  </extensions>
  <targets>
        <target xsi:type="NLogViewer"
        name="viewer"
        address="udp://10.25.0.102:9999"
	includeSourceInfo="true"
	includeCallSite="true"/>

        <target
          xsi:type="MyCacheTarget"
          name="mycache"/>

  </targets>
    <rules>
        <logger name="*"
                minlevel="Debug"
                writeTo="mycache" />
	        <logger name="*"
                minlevel="Trace"
                writeTo="viewer" />

    </rules>
</nlog>
