<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogFile="nlog.txt" internalLogLevel="debug" internalLogToConsole="true" throwException="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
<target xsi:type="Chainsaw"
          name="chainsaw"
          newLine="false"
          layout="${threadid}-${threadname} ${longdate}|${level:uppercase=true}|${logger}|${message}"
          encoding="utf-8"
          address="udp://127.0.0.1:4445"/>
<target name="logfile" xsi:type="File"  fileName="file.txt"  layout="${threadid}-${threadname} ${longdate}|${level:uppercase=true}|${logger}|${message}" />
        <target name="logconsole" xsi:type="Console" layout="${threadid}-${threadname} ${longdate}|${level:uppercase=true}|${logger}|${message}"/>
        <target xsi:type="NLogViewer"
                name="viewer"
                address="udp://10.25.0.102:9999"/>
        <target xsi:type="NLogViewer"
                name="viewer2"
                address="udp://10.25.0.102:9998"/>
        <target xsi:type="RichTextBox"
                name="rtb"
                formName="NLogForm1"
                layout="${threadid}-${threadname} ${longdate}|${level:uppercase=true}|${logger}|${message}"
                height="600"
                autoScroll="true"
                maxLines="10000"
                showMinimized="false"
                toolWindow="False"
                width="800"
                useDefaultRowColoringRules="false"/>
<!--          <word-coloring backgroundColor="String" fontColor="String" ignoreCase="Boolean"
                         regex="String" style="Enum" text="String"
                         wholeWords="Boolean"/>--><!-- repeated -->
          <!--<row-coloring backgroundColor="String" condition="Condition" fontColor="String"
                        style="Enum"/>--><!-- repeated -->
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
        <logger name="*"
                minlevel="Debug"
                writeTo="viewer" />
        <logger name="*"
                minlevel="Debug"
                writeTo="chainsaw" />
        <logger name="*"
                minlevel="Info"
                writeTo="viewer2" />
        <logger name="*"
                minlevel="Info"
                writeTo="rtb" />

    </rules>
</nlog>
