<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdaptiveCards" version="1.2.4" targetFramework="net48" />
  <package id="AdaptiveCards.Rendering.Wpf" version="1.2.4" targetFramework="net48" />
  <package id="Caliburn.Micro" version="2.0.2" targetFramework="net48" />
  <package id="Caliburn.Micro.Core" version="2.0.2" targetFramework="net48" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net48" />
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net48" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net48" />
  <package id="CefSharp.Common" version="75.1.143" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="75.1.143" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net48" />
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net48" />
  <package id="CroplandWpf" version="1.0.64" targetFramework="net48" />
  <package id="DynamicData" version="6.14.3" targetFramework="net48" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net48" />
  <package id="GeminiWpf" version="0.7.0" targetFramework="net48" />
  <package id="GraphSharp" version="1.1.0.0" targetFramework="net48" />
  <package id="Gu.Localization" version="6.1.0.0" targetFramework="net48" />
  <package id="Gu.Wpf.Localization" version="6.1.0.0" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net48" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.MarkedNet" version="1.0.13" targetFramework="net48" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Toolkit.UI.XamlHost" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Toolkit.Win32.UI.SDK" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Toolkit.Win32.UI.XamlApplication" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Toolkit.Wpf.UI.XamlHost" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net48" />
  <package id="ModernWPF" version="1.4.6" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NLog.MSFTTeams" version="0.2.1" targetFramework="net48" />
  <package id="Nlog.RabbitMQ.Target" version="2.6.22" targetFramework="net48" />
  <package id="NLog.Schema" version="4.6.8" targetFramework="net48" />
  <package id="NLog.Telegram" version="1.1.2.0" targetFramework="net48" />
  <package id="NLog.Wcf" version="4.6.8" targetFramework="net48" />
  <package id="Notifications.Wpf" version="0.1.1" targetFramework="net48" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net48" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net48" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net48" />
  <package id="RabbitMQ.Client" version="5.1.2" targetFramework="net48" />
  <package id="ReactiveUI" version="11.1.1" targetFramework="net48" />
  <package id="Simple.Wpf.Terminal" version="2.2.0" targetFramework="net48" />
  <package id="Splat" version="9.3.4" targetFramework="net48" />
  <package id="Splat.Drawing" version="9.3.4" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="17.4.0.40" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="17.4.0.40" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="17.4.0.40" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.0" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net48" />
  <package id="System.ServiceModel.Duplex" version="4.4.0" targetFramework="net48" />
  <package id="System.ServiceModel.Http" version="4.4.0" targetFramework="net48" />
  <package id="System.ServiceModel.NetTcp" version="4.4.0" targetFramework="net48" />
  <package id="System.ServiceModel.Primitives" version="4.4.0" targetFramework="net48" />
  <package id="System.ServiceModel.Security" version="4.4.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net48" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net48" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net48" />
  <package id="XAMLMarkupExtensions" version="1.6.0" targetFramework="net48" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2013" version="2.9.0.1" targetFramework="net48" />
</packages>
